*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#007fff;
    --secondary:#6f7e8c;
    --box:#f5f5f5;

}

.centering{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   padding: 0 16px;
background: var(--primary);}
.box{
    background-color: var(--box);
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    display: grid;
    padding: 16px;
    place-items: center;
border-radius: 24px;}
.search{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 40px;
padding: 10px;
cursor:pointer;
background-repeat: no-repeat
;
font-size: 24px;
color: transparent;
border: 3px solid var(--primary);
transition: width 300ms background-position 300ms;
overflow: hidden;
background: url(./magnifier_icon-icons.com_67993.svg) no-repeat transparent;
background-size: 40px;
background-position: 45% 50%;
}
.search:hover{
    cursor: pointer;
    border: 3px solid var(--primary);
    background: url(./magnifier_icon-icons.com_67993.svg) no-repeat transparent;
    background-size: 40px;
    background-position: 45% 50%;
}
.search:focus, .search:not(:placeholder-shown){
    max-width: 300px;
    width: 100%;
    cursor: text;
    color: var(--primary);
    background-color: transparent;
    padding-left: 60px;
    outline: none
    ;
    transition: width 500ms, background-position 300ms;
    border: 3px solid var(--primary);
    background: url(./magnifier_icon-icons.com_67993.svg) no-repeat;
    background-size: 40px;
    background-position: 10px 50%;
}